/* Размеры шрифта */

$font-small: 14px;
$font-norm: 18px;
$font-big: 21px;

/* Цвета */

$d-grey: #283645;
$l-grey: #f2f2f2;
$tb-grey: #e5e5e5;


/* Размеры экрана */
$small-screen: 320px;
$medium-screen: 960px;
